
<!-- TEMPLATE CREDITS TO http://codepen.io/ettrics/ -->
  <section class="strips">
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Lorem">Adrian</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
          <p>
            <a href="/" target="_blank">ADRIENADRIEN</i></a>
          </p>
        </div>

      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Ipsum">Kevin</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
          <p>
            <a href="/" target="_blank">KEVIN118</i></a>
          </p>
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Dolor">Trail</h1>
        <div class="strip__inner-text">
          <h2>Thank you!</h2>
          <h4>At Trail, we believe that every encounter enriches your life experience. <br>So long you have the Trail with and on you, you'll never miss out. </h4>
          <p>
            <a href="/" target="_blank">trail.com</i></a>
          </p>
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Sit">Morgan</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
          <p>

            <a href="/" target="_blank">FUNNYMO</i></a>

          </p>
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Amet">Jeremy</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sapiente deserunt consectetur, quod reiciendis corrupti quo ea aliquid! Repellendus numquam quo, voluptate. Suscipit soluta omnis quibusdam facilis, illo voluptates odit!</p>
          <p>

            <a href="/" target="_blank">TOASTBOX</i></a>
          </p>
        </div>
      </div>
    </article>
    <i class="fa fa-close strip__close"></i>
  </section>



<script>
var Expand = (function() {
  var tile = $('.strips__strip');
  var tileLink = $('.strips__strip > .strip__content');
  var tileText = tileLink.find('.strip__inner-text');
  var stripClose = $('.strip__close');

  var expanded  = false;

  var open = function() {

    var tile = $(this).parent();

      if (!expanded) {
        tile.addClass('strips__strip--expanded');
        // add delay to inner text
        tileText.css('transition', 'all .5s .3s cubic-bezier(0.23, 1, 0.32, 1)');
        stripClose.addClass('strip__close--show');
        stripClose.css('transition', 'all .6s 1s cubic-bezier(0.23, 1, 0.32, 1)');
        expanded = true;
      }
    };

  var close = function() {
    if (expanded) {
      tile.removeClass('strips__strip--expanded');
      // remove delay from inner text
      tileText.css('transition', 'all 0.15s 0 cubic-bezier(0.23, 1, 0.32, 1)');
      stripClose.removeClass('strip__close--show');
      stripClose.css('transition', 'all 0.2s 0s cubic-bezier(0.23, 1, 0.32, 1)')
      expanded = false;
    }
  }

    var bindActions = function() {
      tileLink.on('click', open);
      stripClose.on('click', close);
    };

    var init = function() {
      bindActions();
    };

    return {
      init: init
    };

  }());

Expand.init();
</script>
