<div class="wrapper contact_us">

  	<h1 class="contact_us">contact the team</h1>

    <div class="postcard">

    	<div class="inner-postcard-left">

      	<h2 class="contact_us">Send us a message</h2>

        <form class="contact_us">

        	<input name="name" type="text" placeholder="First Name" class="contact_us">
          <input name="name" type="text" placeholder="Last Name" class="contact_us">
          <input name="name" type="text" placeholder="Email Address" class="contact_us">
          <textarea name="message" placeholder="Your Message" class="contact_us"></textarea>
          <input name="send" type="button" value="send" class="contact_us_submit">

        </form>

      </div><!-- /.inner-postcard-left -->

      <div class="inner-postcard-right">

      	<div class="thumbnail contact_us">
        	<p class="contact_us">please affix stamp here</p>
        </div><!-- /.thumbnail -->

				<div class="contactinfo">
					<h2 class="contact_us">postcard</h2>
          <p class="contact_us"> If you have a lot to say please feel free to ping us an email at <a class="contact_us" href="">trailproject4@gmail.com</a>.</p>
          <p class="thanks">Thank You</p>
        </div>

      </div><!-- /.inner-postcard-right -->

      <div class="address">
      	<p><strong>NEXT Academy</strong> | Glomac Damansara| Jalan Damansara | Taman Tun Dr Ismail 60000 </p>
      </div><!-- /.address -->

    </div><!-- /.postcard -->




<iframe src="https://www.google.com/maps/d/u/0/embed?mid=138KtD192reQKynTiNTUjuVdfgrI" width="640" height="480"></iframe>


  </div><!-- /.wrapper -->
