<div class="container text-center">
  <div class="row">
    <h4>GO PREMIUM</h4>
  </div>

  <div class="row">
    <%= form_for [current_user], url: "/products", html: {multipart: true}  do |form| %>
      <%= render partial: '/users/form', object: form %>
    <% end %>
  </div>
</div>
