<div class="container text-center">
  <div class="row" style="color:white">
    <h2>GO PREMIUM</h2>
    <p>A <strong>FREE</strong> Premium T-Shirt with your customized code will be on your doorstep soon if you choose to go premium!</p>
    <p>Key in your code below.</p>
  </div>

  <div class="row">

    <%= render 'users/form' %>
  </div>
</div>
