<div class="bkpic_premium">
</div>

<div class="col-md-3">
</div>

<div class="col-md-6 upgrade">
  <div class="row top_premium">
  </div>
  <div class="row main_premium">
    <h2 class="upgrade">GO PREMIUM</h2>


    <%if current_user.code.nil? %>
      <p class="upgrade_page"><strong>GO Premium now</strong> and a selected T-Shirt design with your customized code will be on your doorstep soon.</p>
    <%else%>
      <p>A <strong>FREE</strong> Premium T-Shirt with your customized code will be on your doorstep soon if you choose to go premium!</p>
    <%end %>


    <p class="upgrade_page">Key in your personalized code below.</p>

  </div>

  <div class="row upgrade_form">
    <%= render 'users/form' %>
  </div>

</div>


<div class="col-md-3">
</div>
