.individual-product {
    background-color: white;
    border: solid;
    border-radius: 10px;
    border-color: white;
}

h2.product_name {
padding:20px;
display:block;
background-color:#333;
border-left:5px solid #ff6700;
margin-top:-20px;
margin-right:-20px;
margin-left:-60px;
padding-left:75px;
padding-right:40px;
box-shadow:0px 1px 2px rgba(0,0,0,0.5);
color: white;
}

label.product_style {
    color: black;
}

input#btn_book_product {
    border: solid;
    border-color: #333333;
    border-radius: 0px;
    background-color: #333333;
    color: white;

}

a.product {
    color: black;
}

@media (min-width: 769px){
// h2.product_name
    // margin-left: -16%;
    // width: 70%;
}


ul.nav.nav-tabs {
    margin-top: 10px;
}

@media (max-width: 835px) {
.panel.panel-default.product {
    width: 90%;
    margin-left: 5%;
}

h2.product_name {
    margin-left: -15.5%;
}

}
// testing the size selection
